<header>
    <nav b-7882z672yd class="container navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div b-7882z672yd class="container-fluid">
            <a class="navbar-brand" href="/">AU Frontend client</a>
            <button b-7882z672yd class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span b-7882z672yd class="navbar-toggler-icon"></span>
            </button>
            <div b-7882z672yd class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul b-7882z672yd class="navbar-nav flex-grow-1">              
                    <li b-7882z672yd class="nav-item">
                        <a class="nav-link text-dark" href="/firstCategory"><div class="firstHeader"></div></a>
                    </li>                    
                    <li b-7882z672yd class="nav-item">
                        <a class="nav-link text-dark" href="/secondCategory"><div class="secondHeader"></div></a>
                    </li>                    
                    <li b-7882z672yd class="nav-item">
                        <a class="nav-link text-dark" href="/thirdCategory"><div class="thirdHeader"></div></a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
</header>